PLATFORM_HOST=localhost
ELASTIC_VERSION=8.17.3
GRAFANA_VERSION=11.6.0
PROMETHEUS_VERSION=v3.2.1
TEMPO_VERSION=2.7.2
OTEL_COLLECTOR_VERSION=0.123.0
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-now
ELASTIC_PASSWORD=change-me-now

